.movie__backdrop{
    height: 500px;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

.movie__backdrop-box {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
