.movie__detailed-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 315px;
  width: 97%;
  margin: 13px;
  align-items: center;
}

.movie__trailers, .movie__synopsis, .movie__specs {
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  color: white;
  width: 30%;
  height: 80%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  overflow-y: auto;
}

.movie__synopsis {
  font-size: 12px;
}

.movie__synopsis-header {
  height: 20%;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
