.nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  margin: 10px;
}

.nav__header {
  color: white;
  margin: 15px;
}

.nav__buttons-box {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.nav__home-button {
  height: 70%;
  width: 35%;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  background-color: black;
  border-radius: 8px;
  border: solid white 2px;
}

.nav__home-button:hover {
  background: #6D47F2;
  cursor: pointer;
}
